.hero-section {
    position: relative;
    background-image: url('../assets/images/bg.jpg'); /* Adjust the path if necessary */
    background-size: cover;
    background-position: center;
    height: 50vh; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    border-radius: 10px;
  }
  