/* src/components/InfoSection.css */

.info-section-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .info-section-heading {
    margin-bottom: 20px;
    text-align: center; /* Center the heading */
  }
  
  .info-section-image-container {
    display: flex;
    justify-content: center;
  }
  
  .info-section-image {
    width: 400px;
    height: auto;
    border-radius: 10px;
  }
  
  .info-section-info {
    margin-top: 10px;
  }
  